.advcon {
	height: 100%;
	width: 100%;

}

.mainbody {
	min-height: 100%;
	width: 100%;
	height: auto;
	padding-bottom: 1%;
}

.banner {
	background-color: #ede8e6;
	width: 100%;
	height: 18%;
}

.logoicon {
	width: 100%;
	height: 100%;
}

.round {
	border: 2px solid #00253a;
	border-radius: 50%;
	
}

.small.add.user.round {
	width: 5.2%;
	height: 19%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

}

.acname {
	width: 80%;
	height: 97%;
	margin-top: 1%;
	margin-left: 4%;

}

.ui.grid {
	height: 100%;
}

.ucon {
	margin-top: 2%;
	margin-left: 55%;


}

span {
	font-family: "Franklin Gothic Book";
	font-weight: bold;
}

.rightrow {
	height: 48px;
	margin-left: 21%;
}

.colcon {
	float:right;
}

.mlink, .mlink2 {
	color: #565656;
	font-weight: bold;
}

.ui.tabular.menu > .disabled.item {
 opacity: 0.45 !important;  
}

.disabled {
   cursor: not-allowed !important;
}

.ui.tabular.menu > .disabled.item:hover {
	background-color: transparent;
	color: #565656;
	text-decoration: none;
}

.mlink:hover {
	color: #00253a;
	text-decoration: underline;
	cursor: pointer;
}

.mlink2:hover i.inverted.circular.icon.user{
	background-color: #00253a;
	text-decoration: none !important;
	cursor: pointer;

}

.mlink2.active.item i.inverted.circular.icon.user{
	background-color: #00253a;
	text-decoration: none !important;

}

.content1, .homecon {
	width: 100%;
	height: 100%;
}

.footer {
	background-color: #62503d;
	width: 100%;
	height: 5%;
	color: #e9e2df;
	padding-top: 0.5%;

}

.menu {
	font-family: "Franklin Gothic Book";
}

.moveright {
	margin-left: 73%;
}

.topmargin {
	margin-top: 5%;
}

.btncon {
	width: 100%;
	height: 13%;
}

.advcardcon {
	width:100%;
	height: 90%;
	
}

.ui.grid.cardlist {
	width: 95%;
	margin-left: 5%;
	padding-top: 2%;
}

.ui.grid.cardlist2 {
	width: 98%;
	margin-left: 1%;
	padding-top: 2%;
}

hr {
	width: 95%;
	border-top: 1px solid #ede8e6;
}

.cardstyle {
	border: 2px solid #ebebeb;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	float:left;
	cursor: pointer;
}

.cardstyle:hover {
	border: 2px solid #00253a;

}

.colheight {
	height: 40%;
}

.advphoto {
	height: 100%;
	width: 43%;
	float:left;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	object-fit: cover;
}

.advdata {
	float:left;
	width: 53%;
	max-width: 100%;
	height: 90%;
	margin: 2% 2% 2% 2%;
	font-family: "Franklin Gothic Book";
}

.name {
	font-weight: bold;
}

.p1 {
	font-family: "Franklin Gothic Book";
	font-size: 85%;
	width:100%;
	max-width: 100%;

}

.grey {
	background-color: #ede8e6;
}

.ui.vertical.menu {
	margin: 10% 0 0 5%;

}

.mcontent {
	margin-top: 2%;
	margin-left: 1%;
	height: 100%;
	width: 98%;
}

.gridcellh {
	height: 100%;
}

.acccon {
	width:100%;
	height:100%;
	border-radius: inherit;
}

.mtitle, .mhead, .mhead2 {
    font-size: 1em;
    font-weight: bold;
    color: #00253a;
    width: 100%;
    background-color: #ede8e6;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.pophead {
	font-size: 1em;
    font-weight: bold;
    color: #00253a;

}

.minvtitle {
	color: #00253a;
	background-color: white;
	border-bottom: 1px solid #ede8e6;


}


.mtitle {
	padding: 0.7em 0em 1.29em 1em;
}

.mhead {
	padding: 0.7em 0em 0.55em 25em;
}

.mhead2 {
	padding: 0.7em 0em 0.55em 1em;
}

.headertext {
	padding-right: 72%;
}

.addbtn {
	width: 0.25em;
	height: 0.25em;
}

.editbtn {
	width: 0.25em;
	height: 0.25em;
	float: right;
}

.h3name {
	float:left;
}

.tablecon {
	height: 98%;
	width: 95%;
	margin: 2% 0 0 2.5%;
}

.tablepane {
	height: 100%;
	width: 100%;
	border-radius: 0.28571429rem;
}

.formpane {
	min-height: 70%;
	max-height: 100%;
	height: auto;
	overflow: hidden;
	width: 100%;
	border-top-left-radius: 0.28571429rem;
    border-top-right-radius: 0.28571429rem;
    border-right: 2px solid #ede8e6;
    border-bottom: 2px solid #ede8e6;
	border-radius: 1%;
}

.labelpane {
	height: 100%;
	width: 32%;
	margin-top: 3%;
	background-color: #ede8e6;
	padding: 1% 1% 42% 1%;
	float:left;
}

.labelpane2 {
	height: 100%;
	width: 39%;
	margin-top: 3%;
	background-color: #ede8e6;
	padding: 1% 1% 42% 1%;
	float:left;
}

form, .dcon {
	width: 100%;
	height: 100%;
}
.formlabel {
	font-weight: bold;
	color: #00253a;
	font-family: "Franklin Gothic Book";
	font-size: 0.9em;
}

.boollabel {
	color: #00253a;
	font-family: "Franklin Gothic Book";
	font-size: 0.9em;

}

.bspacing {
	margin-bottom: 15%;
	margin-top: 2%;
	margin-left: 2%;
}

.bspacing2 {
	margin-bottom: 5%;
	margin-left: 3%;
	margin-top: 2%;
}

.bspacing3 {
	margin-bottom: 15%;
	margin-top: 63%;
	margin-left: 2%;
}

.bspacing4 {
	margin-bottom: 15%;
	margin-top: 67%;
	margin-left: 2%;
}

.bspacing5 {
	margin-bottom: 5%;
	margin-top: 13%;
	margin-left: 2%;
}

.bspacing6 {
	margin-bottom: 5%;
	margin-top: 46%;
	margin-left: 2%;
}

.bspacing7 {
	margin-bottom: 15%;
	margin-top: 93%;
	margin-left: 2%;
}

.bspacing8 {
	margin-top: 3%;
	margin-left: 5%;
}

.bspacing9 {
	margin-bottom: 2.3%;
}

.bspacing10 {
	margin-top: 28%;
}

.bspacing11 {
	margin-bottom: 2.7%;
}


.fieldpane {
	height: 100%;
	width: 65%;
	margin-top: 3%;
	margin-left: 3%;
	float:left;
}


.fieldpane2 {
	height: 100%;
	width: 57%;
	margin-top: 3%;
	margin-left: 3%;
	float:left;
}

.formfield {
	width: 96%;
	height: 1%;
}

.areastyle {
	padding: 0.3em 1em;
	width: 95%;
	border-radius: 2%;
}

.asterisk {
	color: red;
}

.message {
	color: red;
	margin-left: 8%;
}

.ui.tiny.button.savebtnstyle,
.ui.large.button.savebtnstyle {
	background-color: #00253a;
	border: 1px solid  #00253a;

}

.ui.tiny.button.savebtnstyle:hover,
.ui.tiny.button.savebtnstyle:active,
.ui.large.button.savebtnstyle:hover,
.ui.large.button.savebtnstyle:active {
	background-color: white;
	color: #00253a;
}

.trow:hover, .activerow {
	color: #62503d;
    background-color: #faefe3;
    font-weight: bold;
    cursor: pointer;
}

.trow1:hover {
    background-color: #faefe3;

}

.disitem {
	font-weight: bold;
}

.selectstyle {
	width: 16.5em;
	padding: 0.3em 0.5em;
}

.selectstyle2 {
	width: 15.5em;
	padding: 0.3em 0.5em;
}

.maintecon {
	width: 100%;
	height: 100%;
}

.search {
	width: 20em;
	height: 2em;
	margin: 5% 0 0 3%;
}

.ui.segment.summcon {
	width: 95%;
	height: 20em;
	margin: 4% 0 0 5%;
	background-color: #ede8e6;
}

.summhead {
	color: #00253a;
	width: 100%;
	height: 50%;
	font-family: "Franklin Gothic Book";
	font-weight: bold;
	font-size: 1em;
	margin-top: 1%;
}

.summcontent {
	margin-top: 2%;
	width: 100%;
	max-width: 100%;
	min-height: 90%;
	height: auto;
}

.hcontent {
	width: 98%;
	margin-top: 1%;
	min-height: 90%;
	height: auto;
}

.banner1 {
	background-color: #00253a;
	width: 100%;
	height: 18%;
}


.acname1 {
	width: 84%;
	height: 100%;
	margin-top: 1%;
	margin-left: 4%;
	cursor: pointer;

}

.phbdy {
	background-color: #e7e7e7;
}


.ui.segment.logcon {
	width: 95%;
	height: 15em;
	margin: 4% 0 0 5%;
	background-color: white;
}

.ui.segment.rightpane {
	width: 98%;
	min-height: 100%;
	margin-top:1.3%;
	height: auto;
	background-color: white;

}

.loghead {
	color: #00253a;
	width: 100%;
	height: 50%;
	font-family: "Franklin Gothic Book";
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 3%;
}

.loghead2 {
	color: #00253a;
	width: 100%;
	height: 50%;
	font-family: "Franklin Gothic Book";
	font-weight: bold;
	font-size: 1.2em;
}

.logcontent {
	margin-top: 2%;
	width: 100%;
	max-width: 100%;
	min-height: 90%;
	height: auto;
}

.hr1 {
	width: 90%;
	border-top: 1px solid #00253a;
	margin-right: 10%;
}


.hr2 {
	width: 100%;
	border-top: 1px solid #00253a;
	margin-right: 10%;
}


.logfield {
	width: 89%;
	height: 1%;
	margin-left: -3%;
	line-height: 4%;
	margin-bottom: 3%;
}

.logfield2 {
	width: 89%;
	height: 2.5rem;
	margin-left: 3%;
}

.centerbtn {
	margin-left: 27%;
	margin-top: 4%;
}

.cardstyleportrait {
	border: 2px solid #ebebeb;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	margin-left: 4%;
}

.colheight1 {
	height: 60%;
}

.advphoto1 {
	height: 43%;
	width: 100%;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	object-fit: cover;
}

.advdata1 {
	width: 100%;
	height: 90%;
	margin: 2% 4% 2% 2%;
	font-family: "Franklin Gothic Book";
}

.search2 {
	margin-left: 3.5%;
}

#viewadv {
	background-color:  #ede8e6;
}

.modalcontent, .tabbody {
	width: 100%;
	height: auto;
	min-height: 90%;
	background-color: white;
}

.tabbody {
	padding: 3%;
}

.labeldesc {
	color: #565656;
}

.formattp {
	width: 96%;
	margin-left: 1%;
	margin-top: 1.8%;

}

.fborder, fieldset {
	border: 1px solid #ede8e6;
}

.fbtop {
	border-top: 1px solid #ede8e6;
}

.fbradius {
	border-radius: 0;
}

.htitle {
	font-family: "Franklin Gothic Book";
	margin-top : 1%;
	margin-bottom: 2%;
}

.fbc {
	background-color: transparent;
}

legend {
	color: #00253a;
	font-family: "Franklin Gothic Book";
	font-weight: bold;
}

.outlink {
	color: #565656;
	font-family: "Franklin Gothic Book";
	font-size: 0.7em;

}

.outlink:hover {
	color: #565656;
	text-decoration: underline;

}

.piccon {
	padding: 3%;
	border-radius: 0.28571429rem;
}

.profpic {
	border-radius: 0.28571429rem;
	margin-bottom: 1%;
	object-fit: cover;
}

.selectcon {
	margin-top: 100px;
}

.addtr {
	color: #00253a;
	font-family: "Franklin Gothic Book";
	font-weight: bold;
}

.addtr:hover {
	background-color: #ede8e6;

}

.unorderedlist {
	list-style-type: none;
}
.dlink:hover {
	text-decoration: underline;
}

.formadd {
	width: 100%;
}

