.mainbody, .advcon {
	height: 100%;
	width: 100%;

}

.banner {
	background-color: #ede8e6;
	width: 100%;
	height: 18%;
}

.logocon {
	/*background-color: #565656;*/
	width: 13%;
	height: 100%;
	color: #e9e2df;
	margin-left: 10%;
	margin-top: 1%;
	float:left;

}

.logocon2 {
	/*background-color: #565656;*/
	width: 17%;
	height: 100%;
	color: #e9e2df;
	margin-left: 2%;
	margin-top: 1%;
	float:left;

}

.logoicon {
	width: 100%;
	height: 100%;
}

.acname {
	width: 45%;
	height: 100%;
	margin-top: 1%;
	margin-left: 3%;
	float:left;

}

.ui.grid {
	height: 100%;
}

.ucon {
	margin-top: 2%;
	margin-left: 55%;


}

span {
	font-family: "Franklin Gothic Book";
	font-weight: bold;
}

.rightrow {
	height: 48px;
}

.colcon {
	float:right;
}

.mlink {
	color: #565656;
	font-weight: bold;
}
.mlink:hover {
	color: #00253a;
	text-decoration: underline;
	cursor: pointer;

}

.content1 {
	width: 100%;
	height: 90%;
	min-height: 90%;
}

.footer {
	background-color: #62503d;
	width: 100%;
	height: 30%;
	color: #e9e2df;

}

.menu {
	font-family: "Franklin Gothic Book";
}

.moveright {
	margin-left: 73%;
}

.topmargin {
	margin-top: 5%;
}

.btncon {
	width: 100%;
	height: 13%;
}

.advcardcon {
	width:100%;
	height: 90%;
	
}

.ui.grid.cardlist {
	width: 95%;
	margin-left: 5%;
	padding-top: 2%;
}

hr {
	width: 95%;
	border-top: 1px solid #ede8e6;
}

.cardstyle {
	border: 2px solid #ebebeb;
	width: 100%;
	height: 100%;
	border-radius: 3%;
}

.colheight {
	height: 40%;
}

.advphoto {
	height: 100%;
	width: 43%;
	float:left;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

.advdata {
	float:left;
	width: 53%;
	height: 90%;
	margin: 2% 2% 2% 2%;
	font-family: "Franklin Gothic Book";
}

.name {
	font-weight: bold;
}

.grey {
	background-color: #ede8e6;
}

.ui.vertical.menu {
	margin: 10% 0 0 5%;

}

.mcontent {
	margin-top: 2%;
	margin-left: 1%;
	height: 100%;
	width: 98%;
}

.gridcellh {
	height: 100%;
}

.acccon {
	width:100%;
	height:100%;
	border-radius: inherit;
}

.mtitle, .mhead {
    font-size: 1em;
    font-weight: bold;
    color: #00253a;
    width: 100%;
    background-color: #ede8e6;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.mtitle {
	padding: 0.7em 0em 1.29em 1em;
}

.mhead {
	padding: 0.7em 0em 0.55em 25em;
}

.addbtn {
	width: 0.25em;
	height: 0.25em;
}

.tablecon {
	height: 98%;
	width: 95%;
	margin: 2% 0 0 2.5%;
}

.tablepane {
	height: 100%;
	width: 100%;
	border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    /*border: 1px solid #ede8e6;
	border-radius: 1%;*/
}

.formpane {
	height: 75%;
	width: 100%;
	border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-right: 2px solid #ede8e6;
    border-bottom: 2px solid #ede8e6;
	border-radius: 1%;
}

.labelpane {
	height: 100%;
	width: 32%;
	margin-top: 3%;
	background-color: #ede8e6;
	padding: 1%;
	float:left;
}

form {
	width: 100%;
	height: 77%;
}
.formlabel {
	font-weight: bold;
	color: #00253a;
	font-family: "Franklin Gothic Book";
	font-size: 0.9em;
}

.bspacing {
	margin-bottom: 10%;
	margin-top: 2%;
	margin-left: 2%;
}

.bspacing2 {
	margin-bottom: 5%;
	margin-left: 3%;
	margin-top: 2%;
}

.fieldpane {
	height: 100%;
	width: 65%;
	margin-top: 3%;
	margin-left: 3%;
	float:left;
}

.formfield {
	width: 96%;
	height: 2%;
}

.areastyle {
	padding: 0.3em 1em;
	width: 96%;
	border-radius: 2%;
}

.asterisk {
	color: red;
}

.ui.tiny.button.savebtnstyle {
	background-color: #00253a;
	border: 1px solid  #00253a;

}

.ui.tiny.button.savebtnstyle:hover,
.ui.tiny.button.savebtnstyle:active {
	background-color: white;
	color: #00253a;
}

tr:hover, .activerow {
	color: #62503d;
    background-color: #faefe3;
    font-weight: bold;
}